# Cleaning up klassement.csv file

In [27]:
import pandas as pd

In [28]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.10/dist-packages (0.18.0)

In [29]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

### Creating a dataframe

In [30]:
# Read in the csv file into a pandas dataframe using the read_csv method
columns = ["seizoen","speeldag","stand","ploeg","aantal_gespeelde_matchen","aantal_gewonnen_matchen","aantal_gelijkgespeelde_matchen","aantal_verloren_matchen","doelpunten","puntenverschil","punten"]
df = pd.read_csv("voetbalData_Deel_2.csv")

In [31]:
# Show the first few rows
df.head()

,seizoen,speeldag,stand,ploeg,aantal_gespeelde_matchen,aantal_gewonnen_matchen,aantal_gelijkgespeelde_matchen,aantal_verloren_matchen,doelpunten,puntenverschil,punten
0,60/61,1.speeldag,1,RSC Anderlecht,1,1,0,0,7:0,7,2:0
1,60/61,1.speeldag,2,Waterschei THOR,1,1,0,0,5:0,5,2:0
2,60/61,1.speeldag,3,Standard Luik,1,1,0,0,2:0,2,2:0
3,60/61,1.speeldag,4,Eendracht Aalst,1,1,0,0,3:2,1,2:0
4,60/61,1.speeldag,5,RFC Luik,1,1,0,0,2:1,1,2:0

In [32]:
# Shows the columns dtypes
df.dtypes

seizoen                           object
speeldag                          object
stand                              int64
ploeg                             object
aantal_gespeelde_matchen           int64
aantal_gewonnen_matchen            int64
aantal_gelijkgespeelde_matchen     int64
aantal_verloren_matchen            int64
doelpunten                        object
puntenverschil                     int64
punten                            object
dtype: object

### Removing the text from the day column

In [33]:
# Removing all the text from the day column
for dag in range(1, 35):
  df.loc[df["speeldag"] == f"{dag}.speeldag", "speeldag"] = dag

In [34]:
# Show the unique values for the day column
df.speeldag.unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30], dtype=object)

### Changing the dtype of the day column to int

In [35]:
# Changing the dtype of the day column to int
df.speeldag = df.speeldag.astype('int64')

In [36]:
# Checking if the dtype has changed
df.speeldag.dtype

dtype('int64')

### Recalculate all the pointscores using the newer 3 point system

In [37]:
# calculate new points
nieuwePunten = (df.aantal_gewonnen_matchen)*3 + (df.aantal_gelijkgespeelde_matchen)*1
# change the older values
df.punten = nieuwePunten

In [38]:
# Show the unique values for the points column
df.punten.unique()

array([ 3,  0,  6,  1,  9,  7,  4,  2, 12, 10, 13,  8,  5, 14, 11, 17, 20,
       16, 15, 23, 19, 18, 21, 24, 22, 25, 26, 27, 28, 31, 29, 32, 30, 35,
       33, 38, 34, 39, 36, 42, 43, 40, 37, 46, 49, 50, 53, 56, 52, 41, 59,
       60, 45, 63, 44, 47, 54, 57, 66, 67, 48, 51, 68, 69, 70, 58, 55, 61,
       64, 62, 65, 71, 72, 75, 73, 76, 74])

### Changing the dtype of the points column to float

In [39]:
# Changing the dtype of the day column to float
df.punten = df.punten.astype('int64')

In [40]:
# Checking if the dtype has changed
df.punten.dtype

dtype('int64')

### Adding the team id

In [41]:
namenPloegen = df.ploeg.unique()

In [42]:
import requests
from bs4 import BeautifulSoup

In [43]:
soup = ""
URL= f"https://nl.wikipedia.org/wiki/Lijst_van_voetbalclubs_in_België_naar_seizoenen_in_eerste_klasse"
# headers={'User-Agent': 'Mozilla/5.0 (X11; Linux armv7l) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Odin/88.4324.2.10 Safari/537.36 Model/Hisense-MT9602 VIDAA/6.0(Hisense;SmartTV;43A53FUV;MTK9602/V0000.06.12A.N0406;UHD;HU43A6100F;)'}
page= requests.get(URL)
soup= BeautifulSoup(page.content, "html.parser")
table = soup.select("#main main, table.wikitable tbody tr td:nth-of-type(1)")

In [44]:
nummersdata = ""
for row in table:
  nummersdata += row.get_text()
  nummersdata += "|"
nummersdata = nummersdata.split("|")

In [45]:
print(nummersdata)

['16', '1', '3', '35', '12', '7', '13', '30', '25', '4', '10', '22', '2', '373', '47', '282', '28', '6', '2300', '19', '322', '24', '4451', '522', '246', '3530', '21', '2024', '8', '11', '5', '5381', '90', '553', '224', '31', '52', '1986', '4276', '4068', '322', '44', '93', '58', '41', '/ /', '18', '17', '216', '1615', '134', '51', '20', '1936', '53', '55', '15', '4549', '221', '148', '/ /', '167', '13', '3900', '54', '375', '64', '/ /', '5479', '5632', '2614', '395', '37', '3434', '36', '26', '18', '132', '77', '/ /', '/ /', '/ /', '/ /', '/ /', '/ /', 'FC Brugeois (Club Brugge)', 'ARA La Gantoise (KAA Gent)', 'CS Brugeois (Cercle Brugge)', 'RC Malines (RC Mechelen)', 'FC Malinois (KV Mechelen)', 'RC Gantois (RC Gent)', 'FC Sérésien (FC Seraing)', 'Sporting Lokeren Sint-Niklaas Waasland(KSC Lokeren OV)', 'FC Brugge (Club Brugge)', '']

In [46]:
soup = ""
URL= f"https://nl.wikipedia.org/wiki/Lijst_van_voetbalclubs_in_België_naar_seizoenen_in_eerste_klasse"
# headers={'User-Agent': 'Mozilla/5.0 (X11; Linux armv7l) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Odin/88.4324.2.10 Safari/537.36 Model/Hisense-MT9602 VIDAA/6.0(Hisense;SmartTV;43A53FUV;MTK9602/V0000.06.12A.N0406;UHD;HU43A6100F;)'}
page= requests.get(URL)
soup= BeautifulSoup(page.content, "html.parser")
table = soup.select("#main main, table.wikitable tbody tr td:nth-of-type(2)")

In [47]:
ploegenData = ""
for row in table:
  ploegenData += row.get_text()
  ploegenData += "|"
ploegenData = ploegenData.split("|")

In [48]:
print(ploegenData)

['Standard Luik', 'Antwerp FC', 'Club Brugge', 'RSC Anderlecht', 'Cercle Brugge', 'KAA Gent', 'K. Beerschot VAV', 'Lierse SK', 'KV Mechelen', 'RFC Liégeois', 'Union Sint-Gillis', 'Royal Charleroi Sporting Club', 'Daring Club de Bruxelles', 'Sint-Truidense VV', 'RWDM', 'KSC Lokeren OV', 'Berchem Sport', 'Racing Club de Bruxelles', 'KSK Beveren', 'KV Kortrijk', 'KRC Genk', 'Racing Mechelen', 'KSV Waregem', 'Beringen FC', 'Olympic Charleroi', 'K. Beerschot AC', 'R. Tilleur FC', 'KVC Westerlo ', 'RCS Verviétois', 'KRC Gent', 'Léopold Club de Bruxelles', 'SV Zulte Waregem', 'KSC Eendracht Aalst', 'K. Waterschei SV Thor', 'Excelsior Moeskroen', 'KV Oostende', 'Koninklijke Lyra', 'KFC Lommelse SK', 'KAS Eupen', 'KVRS Waasland - SK Beveren ', 'KFC Winterslag', 'RAEC Mons', 'RAA Louviéroise', 'Boom FC', 'KFC Diest', 'Athletic and Running Club de Bruxelles', 'OH Leuven', 'RFC Seraing', 'Royal Excel Moeskroen', 'KRC Harelbeke', 'KSV Roeselare', 'RCS La Forestoise', 'Excelsior SC de Bruxelles', 'FC Brussels', 'AS Oostende KM', 'R. Crossing Club de Schaerbeek', 'Royal Uccle Sport', 'Racing Jet de Bruxelles', 'K. Sint-Niklase SK', 'KFC Turnhout', 'Skill FC de Bruxelles', 'RFC Seraing', 'Beerschot VA', 'FCV Dender EH', 'KSK Tongeren', 'Belgica FC Edegem', 'Tubantia FAC', 'Sporting Club de Bruxelles', 'RWDM', 'AFC Tubize', 'K. Heusden-Zolder', 'KFC Verbroedering Geel', 'KSC Hasselt', 'VV Patro Eisden', 'RRC Tournai', 'RUS Tournaisienne', 'Stade Leuven', 'RC Tirlemont', 'Racing FC Montegnée', 'Olympia Club de Bruxelles', 'FC Courtraisien', 'Oostendsche FC', 'AC Gantois', 'Sport Pédestre de Gand', "Union FC d'Ixelles", '51\n', '41\n', '31\n', '19\n', '19\n', '9\n', '6\n', '4\n', '2\n', '']

In [100]:
stamnummers = []
for i in df.ploeg:
  ratio = 0
  gekozenPloeg = 0
  teller = 0
  for ploeg in ploegenData:
    if ratio < fuzz.ratio(ploeg, i):
      gekozenPloeg = ploeg
      ratio = fuzz.ratio(ploeg, i)
      stand = teller
    teller+=1
  stamnummers.append(nummersdata[stand])

In [101]:
print(len(stamnummers))

32594

In [97]:
print(df.shape)

(32594, 12)

In [102]:
df["stamnummers"] = stamnummers

In [103]:
df.stamnummers = df.stamnummers.astype('int64')

In [105]:
len(df.stamnummers.unique())

55

In [106]:
len(df.ploeg.unique())

69

In [107]:
df.head(20)

,seizoen,speeldag,stand,ploeg,aantal_gespeelde_matchen,aantal_gewonnen_matchen,aantal_gelijkgespeelde_matchen,aantal_verloren_matchen,doelpunten,puntenverschil,punten,stamnummers
0,60/61,1,1,RSC Anderlecht,1,1,0,0,7:0,7,3,35
1,60/61,1,2,Waterschei THOR,1,1,0,0,5:0,5,3,553
2,60/61,1,3,Standard Luik,1,1,0,0,2:0,2,3,16
3,60/61,1,4,Eendracht Aalst,1,1,0,0,3:2,1,3,90
4,60/61,1,5,RFC Luik,1,1,0,0,2:1,1,3,4
5,60/61,1,5,Union SG,1,1,0,0,2:1,1,3,10
6,60/61,1,5,Daring Club,1,1,0,0,2:1,1,3,2
7,60/61,1,8,Beerschot AC,1,1,0,0,1:0,1,3,13
8,60/61,1,9,Antwerp FC,1,0,0,1,2:3,-1,0,1
9,60/61,1,10,ARA Gent,1,0,0,1,1:2,-1,0,7
10,60/61,1,10,Club Brugge,1,0,0,1,1:2,-1,0,3
11,60/61,1,10,K Patro Eisden,1,0,0,1,1:2,-1,0,3434
12,60/61,1,13,Verviétois,1,0,0,1,0:1,-1,0,8
13,60/61,1,14,St-Truidense VV,1,0,0,1,0:2,-2,0,373
14,60/61,1,15,Lierse SK,1,0,0,1,0:5,-5,0,30
15,60/61,1,16,Olymp. Charleroi,1,0,0,1,0:7,-7,0,246
16,60/61,2,1,Waterschei THOR,2,2,0,0,8:1,7,6,553
17,60/61,2,2,Standard Luik,2,2,0,0,5:0,5,6,16
18,60/61,2,3,Union SG,2,2,0,0,5:1,4,6,10
19,60/61,2,4,RFC Luik,2,2,0,0,5:3,2,6,4

In [90]:
fuzz.ratio("Waterschei THOR", "K. Waterschei SV Thor")

67